:root {
    --body-bg: #070724;
    --text-color: #fff;
    --mercury-tab-hover:#419EBB;
    --planets-tab-active:#D8D8D8;
    --venus-tab-hover:#EDA249;
    --earth-tab-hover:#6D2ED5;
    --mars-tab-hover:#D14C32;
    --jupiter-tab-hover:#D83A34;
    --saturn-tab-hover:#CD5120;
    --uranus-tab-hover:#1EC1A2;
    --neptune-tab-hover:#2D68F0;
    --antonio-fonts: 'Antonio', 'Arial', sans-serif;
    --spartan-stack: 'Spartan', 'Arial', sans-serif;
}

/* GENERAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 25px;
    font-family: var(--spartan-stack);
    background-color: var(--body-bg);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.header-container{
    width: 100%;
    max-width: 1410px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.header-title{
    font-family: var(--antonio-fonts);
    font-size: 28px;
    line-height: 36px;
    margin: 0;
    margin-right: auto;
}
.header_list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header_list-item:not(:last-child){
    margin-right: 33px;
}
.tab-btns{
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    opacity: 0.7;
}
.tab-btns:not(:last-child){
    margin-right: 33px;
}
.site-header{
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);
    margin-bottom: 126px;
}
.site-main{
    display: flex;
    justify-content: space-around;
}
.main-title{
    font-family: var(--antonio-fonts);
    font-weight: 400;
    font-size: 80px;
    line-height: 104px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.main-right{
    max-width: 350px;
}
.main-para{
    opacity: 0.5;
    margin-bottom: 24px;
}
.main-wiki{
    opacity: 0.5;
}

@media only screen and (max-width: 820px) and (min-width: 600px) {
    .container{
        max-width: 690px;
    }
    .site-header{
        display: block;
    }
    .header-title{
        text-align: center;
        margin-bottom: 40px;
    }
    .header_list{
        justify-content: center;
    }
    .site-main{
       flex-direction: column;
       align-items: center;
    }
}

@media only screen and (max-width: 820px) and (min-width: 600px) {

}